* { color:inherit; }

html { font:16px Helvetica, Arial, sans-serif; height:100%; }
body { height:100%; }
h1,h2,h3,h4,h5,h6 { margin:0; padding:0; }

header { float: left; }

nav { width:134px; background:#111; color:#ccc; padding:12px 8px; }
nav h1 { color:#eee; }
nav a { display:block; padding:0 8px; margin:0 -8px; }
nav a:hover { background:#555; }

#examples { margin-top:200px; }
#examples a.active { background:#666; }

#main { min-height:100%; margin-left:150px; padding:12px 16px; box-shadow:-1px 0 5px #222; }
#main section { margin:12px 0; padding:8px; border:2px solid black; }
#main section:before { margin-top: 0; }
#main section h1 { margin:0; }
#main section code { border:1px solid gray; display:block; white-space:pre; }

#main.jq-toggler [data-mutiny-jq-toggler] { cursor:pointer; }
#main.jq-toggler .active { opacity:0.2; }
