<article>
  <h3>Bare bones.</h3>
  <div class='example'>
    <input type='number' min='0' max='1000' step='50'
           data-mutiny='slider' />
  </div>
</article>

<article>
  <h3>The id of the slider wrapper is <tt>[inputid]-mutiny-slider</tt></h3>
  <div class='example'>
    <input id='example-id' type='number' min='0' max='1000' step='50'
           data-mutiny='slider' />
  </div>
</article>

<article>
  <h3>Start value</h3>
  <div class='example'>
    <input type='number' min='0' max='1000' step='50' value='250'
           data-mutiny='slider' />
  </div>
</article>

<article>
  <h3>Min/max labels</h3>
  <div class='example'>
    <input type='number' min='0' max='1000' step='50'
           data-mutiny='{"slider": {"minLabel": "min:%s", "maxLabel": "max:%s"}}' />
  </div>
</article>

<article>
  <h3>Value label</h3>
  <div class='example'>
    <input type='number' min='0' max='1000' step='50'
           data-mutiny='{"slider": {"valueLabel": "about %s pieces of 8"}}' />
  </div>
</article>

<article>
  <h3>Create slider with an existing element instead of appending a new one</p>
  <div class='example'>
    <div id='slider'></div>
    <input type='number' min='0' max='1000' step='50'
           data-mutiny='{"slider": {"target": "#slider"}}' />
  </div>
</article>

<article>
  <h3>Select box</h3>
  <div class='example'>
    <div id='slider'></div>
    <select data-mutiny='slider'>
      <option value='50'>50</option>
      <option value='100'>100</option>
      <option value='150'>150</option>
      <option value='200'>200</option>
    </select>
  </div>
</article>
